<!DOCTYPE html>
<html>
<head>
 <title>CODE-MIXING TRANSLATOR</title>
 <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family:verdana;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

</style>
</head>
<body style="background-color:hsla(0, 100%, 50%, 0.1);text-align: center;">
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/image">Image To Translation</a></li>
  <li><a href="/file">File To Translation</a></li>
  <li><a href="/audio">Audio To Translation</a></li>
  <li><a href="/text">Text To Translation</a></li>
</ul>

 <br>
 <br>
<h1 style="font-family:Amasis MT Pro;font-size: 40px;text-decoration: none;text-align: center;color:#3c3c3c;"> Upload your file </h1>
<br>
<br>
<form style="text-align: center;"method=post enctype=multipart/form-data>
  <input style="font-family:Amasis MT Pro;font-size: 18px;text-decoration: none;" type="file" name=file>
  <input style="font-family:Amasis MT Pro;font-size: 18px;text-decoration: none;" type="submit" name=Upload value="Upload">

 </form>
 <br>
</body>
</html>
